.inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  background-color: #d3d3d3;
}

.button:hover {
  border-color: red;
}

.button:disabled {
  cursor: not-allowed;
}
